/**
*
* {{properCase name }}
*
*/

import React from 'react';

import PropTypes from 'prop-types';


{{#if wantMessages}}
import { FormattedMessage,
{{#if wantHeaders}}
useIntl, intlShape
{{/if}}
} from 'react-intl';
{{/if}}
{{#if wantHeaders}}
import { Helmet } from 'react-helmet';
{{/if}}

{{#if wantMessages}}
import messages from './messages';
{{/if}}

import './{{ dashCase name }}.scss';


const {{ properCase name }} = (
{{#if wantActionsAndReducer}}
{{#if wantHeaders}}
{ data, local }
{{/if}}
{{/if}}

{{#if wantActionsAndReducer}}
{{#unless wantHeaders}}
{ data, local }
{{/unless}}
{{/if}}

{{#unless wantActionsAndReducer}}
{{#if wantHeaders}}
{ intl }
{{/if}}
{{/unless}}

) => {
{{#if wantActionsAndReducer}}
const { loading, errors } = local
{{/if}}
{{#if wantHeaders}}
const intl = useIntl()
{{#if wantHeaders}}
const helmetMessages = {
helmetTitle: intl.formatMessage({
...messages.helmetTitle,
}),
helmetName: intl.formatMessage({
...messages.helmetName,
}),
helmetContent: intl.formatMessage({
...messages.helmetContent,
}),
};
{{/if}}

return (<div className="{{ dashCase name }}">
  {{#if wantHeaders}}
  <Helmet>
    <title>{helmetMessages.helmetTitle}</title>
    <meta name={helmetMessages.helmetName} content={helmetMessages.helmetContent} />
  </Helmet>
  {{/if}}
  {{#if wantMessages}}
  <FormattedMessage {...messages.header} />
  {{/if}}
</div>
)
}



{{ properCase name }}.propTypes = {
{{/if}}
{{#if wantActionsAndReducer}}
data: PropTypes.object.isRequired,
local: PropTypes.object.isRequired,
{{/if}}
};

export default {{ properCase name }};
